<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Alumnos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-accordion-group>
    <ion-accordion *ngFor="let alumno of alumnos" [value]="alumno.id">
      <ion-item slot="header" color="light">
        <ion-icon name="person-circle-outline" slot="start"></ion-icon>
        <ion-label>{{ alumno.nombre }}</ion-label>
      </ion-item>
      <div class="ion-padding" slot="content">
        {{ alumno.contenido }}
        <ion-button fill="outline" size="small" class="ion-margin-top">
          Ver perfil
        </ion-button>
      </div>
    </ion-accordion>
  </ion-accordion-group>
</ion-content>